<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>

<!-- Incluindo a Sidebar -->
{% include 'core/sidebar.html' %}

<div class="content">
    <h2>Painel Administrativo</h2>

    <!-- Estatísticas principais no centro -->
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Bloco de Contratos Ativos -->
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Contratos Ativos</h3>
                    </div>
                    <div class="card-body">
                        <h4>{{ num_contratos }}</h4>
                    </div>
                </div>
            </div>

            <!-- Bloco de Fornecedores Cadastrados -->
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Fornecedores Cadastrados</h3>
                    </div>
                    <div class="card-body">
                        <h4>{{ num_fornecedores }}</h4>
                    </div>
                </div>
            </div>

            <!-- Bloco de Produtos -->
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Produtos Cadastrados</h3>
                    </div>
                    <div class="card-body">
                        <h4>{{ num_produtos }}</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% include 'core/footer.html' %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
